.swiper-button-prev:after,
.swiper-button-next:after {
    color: #ffba08;
    padding: 2rem 1rem;
    cursor: pointer;
}

.swiper-pagination-bullets > span {
    background-color: #ffba08;
}

/* mobile only */
@media (max-width: 720px) {
    .swiper-button-prev:after,
    .swiper-button-next:after {
        display: none;
    }
}

.tabpanel {
    animation: fadeIn .8s ease-out forwards;
    /* background-color: red !important; */
    /* -webkit-transition: background .1s linear;   
    -moz-transition: background .1s linear;   
    -ms-transition: background .1s linear;   
    -o-transition: background .1s linear;   
    transition: background .1s linear;    */
}

/* 
.tabpanel[hidden] {
    animation: fadeOut .5s ease-out forwards;
} */

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        display: block;
        opacity: 1;
    }
    99% {
        display: block;
    }
    100% {
        display: none;
        opacity: 0;
    }
}